@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/*Mini reset de formatações*/
*{
    font-size: 100%;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*Configurações padrão*/
body{
    font-family: "Comfortaa", sans-serif;
    background: #ec7a23 url("../Midias/background_menu.png") no-repeat top center;
    background-size: cover;
    overflow: hidden;
}
/*Tela inicial*/
#welcomeWindow{
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#welcomeWindow img{
    width: 4rem;
}
#welcomeWindow p{
    font-size: 1.5rem;
}
#welcomeWindow h1{
    font-size: 5rem;
    width: 60%;
    text-align: center;
}
/*Span que receberá o blink e a animação*/
#welcomeWindow span{
    font-size: 1.2rem;
    margin-top: 4%;
    animation: blinker 2s linear infinite;
}
@keyframes blinker{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

/*Tela de login*/
#loginWindow{
    position: absolute;
    top: calc(50% - 270px);
    left: calc(50% - 300px);
    background-color: #ffffff46;
    width: 600px;
    height: 540px;
    border: 3px solid #000;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#loginWindow h2{
    font-size: 2.7rem;
    text-align: center;
    margin: 4% 0 0% 0;
}
#underline{
    width: 30%;
    height: 3px;
    background-color: #000;
    border-radius: 25px;
    margin: 0 auto 10% auto;
}

#loginWindow form{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10%;
    
}
#loginWindow label{
    font-size: 2rem;
    font-weight: bolder;
}
#loginWindow input:not(#loginSubmit){
    height: 3.5rem;
    border-radius: 15px;
    border: #000 2px solid;
    padding-left: 4%;
    font-size: 1.5rem;
    margin-bottom: 6%;
}
#forgotPassword{
    margin-top: -3.7%;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 1.1rem;
}
#forgotPassword:hover{
    transform: scale(1.05);
    color: #ec7a23;
    text-shadow: #000 0 8px 10px;
}
#loginSubmit{
    height: 3rem;
    font-size: 1.5rem;
    margin: 9% auto;
    width: 50%;
    border-radius: 30px;
    border: #000 3px solid;
    background-color: #ec7a23;
    transition: all 0.3s;
    cursor: pointer;
}
#loginSubmit:hover{
    color:#fff;
    background-color: #9b4300;
    text-shadow: #fff 0 0 10px;
    transform: scale(1.1);
    box-shadow: #fff 0 0 20px 10px;
}

/*Rodapé*/
footer{
    text-align: end;
    font-weight: bolder;
    position: absolute;
    bottom: 1%;
    right: 1%;
}

.hidden{
    visibility: hidden;
}